$color-text-default: #000000
$color-text-primary: #BE55BE
$color-text-invert: #FFFFFF

$color-header-background: rgba(255, 255, 255, 0.3)
$color-footer-background: rgba(0, 0, 0, 1)

*
  font-family: "JetBrains Mono", Consolas, monospace

.text-link
  color: $color-text-primary
  text-decoration: underline
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3)