.main
  &__downloads__release-section
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    img
      width: 200px
      margin: 20px

    &__table
      padding: 20px
      border-radius: 30px
      background: rgba(240, 240, 240, 0.8)
      box-shadow: 10px 10px 30px rgba(240, 240, 240, 0.5)
      border-collapse: separate
      border-spacing: 0 0

      th
        padding: 15px 20px 15px 20px
        background: rgba(0, 0, 0, 0.1)

        &:first-child
          border-radius: 10px 0 0 10px

        &:last-child
          border-radius: 0 10px 10px 0

      td
        padding: 10px 20px
