@import "common"

.main__using-section
  display: flex
  height: 100vh
  flex-direction: column
  justify-content: center
  align-items: center
  background-image: url("../assets/background-1.png")
  background-size: cover

  p
    margin: 0
    font-size: 32px
    font-weight: 400
    line-height: 44px
    max-width: 1000px